# Lists

In [1]:
#Creation and Display of list
l=[0,1,2,3]
print(l)

[0, 1, 2, 3]

In [2]:
#List slicing
print(l[0])
print(l[3])
print(l[0:])
print(l[:])
print(l[:-1])
print(l[-1])
print(l[1:2])

0
3
[0, 1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2]
3
[1]

In [3]:
#Traversing a List 
names = ['Adam', 'Samar', 'Ganesh']
for ch in names:
    print(ch)

Adam
Samar
Ganesh

In [4]:
#Concatenation of lists
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [5]:
#Repetition of Lists
[0] * 4

[0, 0, 0, 0]

In [6]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
#append
t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

In [8]:
#extend
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [9]:
#sort
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

# Tuples

In [10]:
#Creation of tuples
tup1=('Bigdata','AI','NM')
tup1

('Bigdata', 'AI', 'NM')

In [11]:
#empty tuple
tup=()

In [12]:
#tuple with single value
tup2=(100,)
tup2

(100,)

In [13]:
#accessing values in tuples
tup1=('Bigdata','AI','NM')
print(tup1[0])
print(tup1[0:])

Bigdata
('Bigdata', 'AI', 'NM')

In [14]:
#concatenation of tuples
tup3=(12,3.45)
tup4=('xyz','abc')
tup5=tup3+tup4
print(tup5)

(12, 3.45, 'xyz', 'abc')

In [15]:
#deleting tuple elements
tup3=(12,3.45)
print(tup3)
del tup3
print("After deleting tup3:",tup3)

(12, 3.45)

NameError: name 'tup3' is not defined

# Dictionaries

In [1]:
#empty dictionary
my_dict={}
my_dict

{}

In [2]:
#dictionary with integer keys
dict1={1:'apple',2:'mango'}
dict1

{1: 'apple', 2: 'mango'}

In [4]:
#accessing values in dictionary
dict2={'Name':'Kiran','Age':20,'Sem':3}
dict2

{'Age': 20, 'Name': 'Kiran', 'Sem': 3}

In [5]:
print(dict2['Name'])
print(dict2['Sem'])

Kiran
3

In [6]:
#Updating dictionary
dict2['College']='CEC'
print(dict2)

{'Name': 'Kiran', 'Age': 20, 'Sem': 3, 'College': 'CEC'}

In [7]:
#deleting the entry 
del dict2['Name']
print(dict2)

{'Age': 20, 'Sem': 3, 'College': 'CEC'}

In [8]:
#deleting entire dictinary
del dict2
print(dict2)

NameError: name 'dict2' is not defined

In [9]:
#Using dictinary to count the occurrence of words in a file
fname=input("enter the filename: ")
try:
    fhand=open(fname)
except:
    print('file cannot be opened:',fname)
    exit()
counts=dict()
for line in fhand:
    words=line.split()
    for word in words:
        if word not in counts:
            counts[word]=1
        else:
            counts[word]+=1
print(counts)

enter the filename: dictionary.txt
{'Hello': 1, 'how': 1, 'are': 1, 'you?': 1, 'I': 1, 'am': 1, 'near': 1, 'to': 1, 'you.': 1}

In [10]:
#Looping through dictinaries
counts={'I':2,'Amar':1,'cheese':3}
for key in counts:
    print(key,counts[key])

I 2
Amar 1
cheese 3

# Functions

In [11]:
#function to find cube of a number
def cube(number):                                         
    return  number**3
cube(3)

27

In [12]:
def  print_Address():                                  
    print("Rajesh")                                    
    print('CEC bantwal')
print_Address()

Rajesh
CEC bantwal

In [13]:
def  print_lyrics():
    print("First Line of a Song")
    print("Second Line of a Song")
def  repeat_lyrics():
    print_lyrics()
    print_lyrics()
repeat_lyrics()

First Line of a Song
Second Line of a Song
First Line of a Song
Second Line of a Song

In [14]:
def print_twice(bruce):                             
    print(bruce)                                           
    print(bruce)                                           
print_twice('Spam')                                   
print_twice(17)

Spam
Spam
17
17

In [15]:
#fruitful function
def  addtwo(a,b):
    c = a + b
    return c
x = addtwo(3, 5)
print(x)

8

In [1]:
#factorial of a number
x=int(input("enter a number:"))
f=1
if x<0:
    print("negative number")
elif x==0:
    print(1)
else:
    for i in range(1,x+1):
        f=f*i
print("the factorial of", x ,"is", f)

enter a number:3
the factorial of 3 is 6

In [2]:
#fibonacci series
x=int(input("enter the number of terms:"))
n1=0
n2=1 
count=0
if x<0:
    print("you have entered a negative number!!")
elif x==1:
    print("the fibonacci sequence upto",x,"terms:",n1)
else:
    print("the fibonacci sequence upto",x,"terms:")
    while count<x:
        print(n1,end='\t')
        n3=n1+n2                                                   
        n1=n2                                     
        n2=n3                                     
        count+=1

enter the number of terms:3
the fibonacci sequence upto 3 terms:
0	1	1

# Pandas

Pandas are an open source Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.

In [16]:
#Creating a pandas series
# creating a series by passing a list of values, and a custom index label.
#Note that the labeled index reference for each row and it can have
#duplicate values
import numpy as np
import pandas as pd
s = pd.Series([1,2,3,np.nan,5,6], index=['A','B','C','D','E','F'])
print(s)
x = pd.Series(['A','B','C','D','E','F'])
print(x)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64
0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

In [4]:
#Creating a pandas dataframe
import pandas as pd
data = {'Gender': ['F', 'M', 'M'],'Emp_ID': ['E01', 'E02',
'E03'], 'Age': [25, 27, 25]}
# We want the order the columns, so lets specify in columns parameter
df = pd.DataFrame(data, columns=['Emp_ID','Gender', 'Age'])
df

  Emp_ID Gender  Age
0    E01      F   25
1    E02      M   27
2    E03      M   25